{% extends 'base.html' %}


{% block content %}
    <header class="pt-5 mt-5 mb-5">
        <div class="container text-center">
            <h1 class="text-dark fw-semibold gradient-text">Unleashing the Power of <br>Collaborative Thesis Writing with GitThesis</h1>
            <p class="text-muted">Collaborate effortlessly, track progress, and achieve your academic goals - All in GitThesis.</p>
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <l-grid
                size="160"
                speed="1.5"
                color="#6C48C5"
            ></l-grid>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary" data-bs-target="#SignUp" data-bs-toggle="modal">Get Started</button>
        </div>

    </header>

    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/grid.js"></script>

  {% include 'footer.html' %}
  
{% endblock %}
  
