{% extends 'base.html' %}


{% block content %}
    <header class="py-5">
        <div class="container text-center">
            <h1 class="text-dark fw-semibold gradient-text">Unleashing the Power of <br>Collaborative Thesis Writing with GitThesis</h1>
            <p class="text-muted">Collaborate effortlessly, track progress, and achieve your academic goals - All in GitThesis.</p>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <a href="#" class="btn btn-primary">Get Started</a>
        </div>

    </header>

  <script src="" async defer></script>
  
{% endblock %}
  
