\documentclass{article}
\usepackage{graphicx}
\graphicspath{{./images/}}
\title{Project Document}

\begin{document}
\maketitle

\begin{table}[htbp]
\caption{Shape Functions for Quadratic Line Elements}
  \label{tab:shape-functions}
  \centering
\begin{tabular}{ccc}
\hline
Local Node & $\{N\}_m$ & $\{\Phi_i\}_m$ $(i=x,y,z)$ \\
\hline
$m = 1$ & $L_1(2L_1-1)$ & $\Phi_{i1}$ \\
$m = 2$ & $L_2(2L_2-1)$ & $\Phi_{i2}$ \\
$m = 3$ & $L_3=4L_1L_2$ & $\Phi_{i3}$ \\
\hline
\end{tabular}
\end{table}


\includegraphics[width=\textwidth]{35_20241029081511.jpg}

\[S_n = \frac{X_1 + X_2 + \cdots + X_n}{n}
      = \frac{1}{n}\sum_{i}^{n} X_i\]
\section{Introduction}
      We encourage authors preparing submissions to focus foremost on their content and not on formatting. This template is provided as a guide, but following the visual styling is optional. Each manuscript will be formatted in a consistent way during production. Authors also have the option to 
     
\section{Corresponding author}

\subsection{Supplementary materials in Optica Publishing Group journals}
Our journals allow authors to include supplementary materials as integral parts of a manuscript. Such materials are subject to peer-review procedures along with the rest of the paper and should be uploaded and described using our Prism manuscript system. Please refer to the 


\end{document}