{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 6rem;">
    <h1 class="gradient-text-sidebar">Settings for {{ project.name }}</h1>

    <form method="POST">
        {% csrf_token %}
        
        <!-- Input for editing the project name -->
        <div class="mb-3">
            <label for="projectName" class="form-label gradient-text-sidebar">Project Name</label>
            <input type="text" class="form-control" id="projectName" name="project_name" 
                   value="{{ project.name }}" required>
        </div>

        <!-- Input for collaborators, excluding project owner -->
        <div class="mb-3">
            <label for="collaborators" class="form-label gradient-text-sidebar">Collaborators (comma-separated emails)</label>
            <input type="text" class="form-control" id="collaborators" name="collaborators" 
                   value="{% for collaborator in all_collaborators %}{% if collaborator.user != project.owner %}{{ collaborator.user.email }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}" required>
            <small class="form-text text-muted">Add multiple collaborators by separating their emails with commas.</small>
        </div>
        
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <hr>

   <!-- Displaying Current Collaborators -->
<h6>Current Collaborators:</h6>
<div class="col-md-4 offset">
    <div class="list-group">
        <!-- Loop through accepted collaborators -->
        {% for collaboratorAccepted in collaboratorsAccepted %}
        <div class="list-group-item d-flex justify-content-between align-items-center mb-2 collaborator-item" style="border-top: 1px solid #ddd;">
            <div class="d-flex align-items-center">
                <img src="" alt="{{ collaboratorAccepted.user.username }}'s avatar" class="collaborator-avatar" style="width: 40px; height: 40px; border-radius: 50%; margin-right: 10px;">
                <div>
                    <strong>{{ collaboratorAccepted.user.username }}</strong>
                    {% if collaboratorAccepted.user == project.owner %}
                        <span class="badge bg-success ms-1">Owner</span>
                    {% else %}
                        <span class="badge bg-primary ms-1">Collaborator</span>
                    {% endif %}
                    <br>
                    <small>{{ collaboratorAccepted.user.email }}</small>
                </div>
            </div>
            {% if collaboratorAccepted.user != project.owner %}
            <form action="{% url 'remove_collaborator' project.id collaboratorAccepted.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Remove</button>
            </form>
            {% endif %}
        </div>
        {% empty %}
        <div class="list-group-item">No collaborators added.</div>
        {% endfor %}
    </div>
</div>

{% endblock %}
