{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 6rem;">
    <h1 class="gradient-text-sidebar">Settings for {{ project.name }}</h1>

    <form method="POST">
        {% csrf_token %}
        
        <!-- Input for editing the project name -->
        <div class="mb-3">
            <label for="projectName" class="form-label gradient-text-sidebar">Project Name</label>
            <input type="text" class="form-control" id="projectName" name="project_name" 
                   value="{{ project.name }}" required>
        </div>

        <div class="mb-3">
            <label for="collaborators" class="form-label gradient-text-sidebar">Collaborators (comma-separated emails)</label>
            <input type="text" class="form-control" id="collaborators" name="collaborators" 
            value="{% for collaborator in all_collaborators %}{{ collaborator.user.email }}{% if not forloop.last %}, {% endif %}{% endfor %}" required>
            <small class="form-text text-muted">Add or remove collaborators by changing the emails.</small>
        </div>
        
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <hr>

    <h6>Current Collaborators:</h6>
    <ul>
        {% for collaboratorAccepted in collaboratorsAccepted %}
            <li>{{ collaboratorAccepted.user.username }} - {{ collaboratorAccepted.user.email }}</li>
        {% empty %}
            <li>No collaborators added.</li>
        {% endfor %}
    </ul>
    
</div>
{% endblock %}
