{% extends 'base.html' %}

{% block content %}

{% load static %}

    <div class="container-fluid container-project">
        <div class="row no-gutters">
            <!-- Sidebar kiri untuk struktur penulisan -->
            <div class="col-md-2 sidebar-left">
                <h5 class="gradient-text-sidebar fw-semibold">Struktur Dokumen</h5>
                <ul class="list-unstyled">
                    
                    <a class="nav-item pt-1 pb-1 btn btn-outline-primary mt-3 text-dark fw-medium" 
                    href="#" style="white-space: nowrap; width: 220px;">
                    Cover
                 </a>
                 
                 <a class="nav-item pt-1 pb-1 btn btn-outline-primary mt-3 text-dark fw-medium" 
                    href="#" style="white-space: nowrap; width: 220px;">
                    Kata Pengantar
                 </a>
                 
                 <a class="nav-item pt-1 pb-1 btn btn-outline-primary mt-3 text-dark fw-medium" 
                    href="#" style="white-space: nowrap; width: 220px;">
                    Bab 1: Pendahuluan
                 </a>
                 
                 <a class="nav-item pt-1 pb-1 btn btn-outline-primary mt-3 text-dark fw-medium justify-content-center" 
                    href="#" style="white-space: nowrap; width: 22  0px;">
                    Bab 2: Tinjauan Pustaka
                 </a>
                 
                 <a class="nav-item pt-1 pb-1 btn btn-outline-primary mt-3 text-dark fw-medium" 
                    href="/project" style="white-space: nowrap; width: 220px;">
                    Bab 3: Metodologi
                 </a>
                 
                 <a class="nav-item pt-1 pb-1 btn btn-outline-primary mt-3 text-dark fw-medium" 
                    href="#" style="white-space: nowrap; width: 220px;">
                    Bab 4: Pembahasan
                 </a>
                 
                 <a class="nav-item pt-1 pb-1 btn btn-outline-primary mt-3 text-dark fw-medium" 
                    href="#" style="white-space: nowrap; width: 220px;">
                    Kesimpulan dan Saran
                 </a>
                    
                </ul>
            </div>

            <!-- Overview dokumen di tengah -->
            <div class="col-md-8">
                <div class="document">
                    <h4 class="text-center mb-4 gradient-text fw-semibold">Nama Project</h4>
                    
                    <!-- LaTeX Editor -->
                    <!-- latextemplate.html -->
                    <div class="latex-editor d-flex">
                        <div class="line-numbers" id="lineNumbers"></div>
                        <div class="flex-grow-1 section">
                            {% include 'latextemplate.html' %}
                        </div>
                        {% comment %} <div class="flex-grow-1 section">
                            {% include 'latextemplate.html' %}
                        </div>
                        <div class="flex-grow-1 section">
                            {% include 'latextemplate.html' %}
                        </div> {% endcomment %}
                    </div>



                    <!-- Form untuk tombol "Edit with LaTeX" -->
                    <form id="overleafForm" action="https://www.overleaf.com/docs" method="post" target="_blank">
                        <input type="hidden" id="snip_uri" name="snip_uri" value="">
                        <input type="submit" class="btn btn-primary btn-sm" value="Open in Overleaf" style="margin-top: 10px; margin-bottom: 10px;"> 
                    </form>
                    
                    <!-- Tombol "Preview" -->
                    <div class="d-flex justify-content-end">
                        <button id="previewLatex" class="btn btn-primary mt-3">Preview LaTeX</button>
                    </div>

                    <!-- Hasil Preview -->
                    <div class="latex-output mt-3 d-flex justify-content-center">
                        <h5 class="gradient-text-sidebar">Preview</h5><br>
                        <div id="latexPreview"></div>
                    </div>
                    
                </div>
            </div>

            <!-- Sidebar kanan untuk komentar dan history -->
            <div class="col-md-2 sidebar-right">
                <div class="comments">
                    <h6>Komentar</h6>
                    <p><strong>User 1:</strong> Coba tambahkan lebih banyak contoh di Bab 2.</p>
                    <p><strong>User 2:</strong> Perbaiki grammar di paragraf 3.</p>
                </div>

                <div class="history">
                    <h6>Riwayat Perubahan</h6>
                    <ul class="list-unstyled">
                        <li>1 jam yang lalu - User 1 mengedit Bab 1.</li>
                        <li>2 jam yang lalu - User 2 mengomentari paragraf 3.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Integrasi MathJax -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    {% comment %} Script statis {% endcomment %}
    <script src="{% static 'js/project.js' %}"></script>

{% endblock %}
