
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


/* NAVBAR */
.thesis-font-logo{
    color: #6C48C5;
}

.active {
    color: #6C48C5 !important;
    border-bottom: 1px solid #6C48C5;
    padding-bottom: 2px;
}

.navbar-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link-hover:hover {
    border-bottom: 1px solid #6C48C5;
    padding-bottom: 2px;
}

.btn-primary{
    background-color: #6C48C5;
    border-color: #6C48C5;
}

.btn-outline-primary{
    border-color: #6C48C5;
}

.home-link {
    margin-left: 65px;
}

/* FOOTER */
.footer {
    background: linear-gradient(to right, #1230AE, #6C48C5);
    color: #fff;
    margin-top: 200px;
}

.footer h5 {
    color: #fff;
    margin-bottom: 15px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer .fab {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}

.footer .fab:hover {
    color: #ddd;
}


/* LANDING PAGE */
.header{
    background-color: rgb(113, 124, 113);
    height: 80vh;
    width: 100% ;
    padding: 35px 20px;
}

.gradient-text {
    background: linear-gradient(to left, #1230AE, #6C48C5, #C68FE6, #FFF7F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}