{% load static %}
<nav class="navbar navbar-expand-lg navbar-shadow fixed-top py-3" >
    <div class="container-fluid">

        <!-- Offcanvas toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Logo and Brand Name -->
        <a href="" class="navbar-brand fw-bolder mx-auto ms-5 mb-0 h1">
            <img 
            class="d-inline-block align-top" 
            src="{% static 'images/logothesis.svg' %}" 
            height="20" width="20" alt="">
            Git<span class="thesis-font-logo">Thesis</span>
        </a>

        <!-- Offcanvas Sidebar -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">GitThesis</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <!-- Navigation Links di Sidebar -->
                <ul class="navbar-nav ms-10 justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link nav-link-hover fw-semibold home-link {% if request.path == '/'  %}active{% endif %}" aria-current="page" href="/">Home</a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link nav-link-hover fw-semibold {% if request.path == '/home/'  %}active{% endif %}" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-hover fw-semibold {% if request.path == '/projects/' %}active{% endif %}" href="/projects">Projects</a>
                    </li> {% endcomment %}
                </ul>
            </div>
        </div>

        <!-- Signin Signup Button and Profile Dropdown -->
        <div class="d-flex align-items-center ms-auto me-5">

            <!--Login sign up button-->
            <button class="btn btn-outline-primary me-2" data-bs-target="#SignIn" data-bs-toggle="modal">Sign in</button>
            <button class="btn btn-primary" data-bs-target="#SignUp" data-bs-toggle="modal">Sign Up</button>

            <!-- Profile Dropdown -->
            {% comment %} <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img 
                    class="d-inline-block align-top" 
                    src="{% static 'images/profile-new.svg' %}" 
                    width="30" height="30">
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Sign Out</a></li>
                </ul>
            </div>  {% endcomment %}

        </div>

    </div>
</nav>



{% comment %} MODAL SIGNUP SIGNIN {% endcomment %}

<div class="modal fade" id="SignIn" aria-hidden="true" aria-labelledby="SignInLabe" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="SignInLabe">Sign in</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword">
            </div>
           
            <a class="thesis-font-logo" data-bs-target="#SignUp" data-bs-toggle="modal">I don't have an account</a> <br>
            <button type="submit" class="btn btn-primary w-100 mt-3">Submit</button>
        </form>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="SignUp" aria-hidden="true" aria-labelledby="SignUpLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="SignUpLabel">Sign up</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="inputName" class="form-label">Name</label>
                <input type="name" class="form-control" id="inputName">
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword">
            </div>
           
            <a class="thesis-font-logo" data-bs-target="#SignIn" data-bs-toggle="modal">I already have an account</a> <br>
            <button type="submit" class="btn btn-primary w-100 mt-3">Submit</button>
        </form>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

