{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

        <!-- Offcanvas toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Logo and Brand Name -->
        <a href="#" class="navbar-brand fw-bolder mx-auto ms-5 mb-0 h1">
            <img 
            class="d-inline-block align-top" 
            src="{% static 'images/logothesis.svg' %}" 
            width="23" height="23"> 
            Git<span class="thesis-font-logo">Thesis</span>
        </a>

        <!-- Offcanvas Sidebar -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">GitThesis</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <!-- Navigation Links di Sidebar -->
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link fw-semibold {% if request.path == '/' %}active{% endif %}" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold {% if request.path == '/projects/' %}active{% endif %}" href="/projects">Projects</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Search Form and Profile Dropdown -->
        <div class="d-flex align-items-center ms-auto me-5">
            <!-- Search Form -->
            <form class="d-flex me-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>

            <!-- Profile Dropdown -->
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img 
                    class="d-inline-block align-top" 
                    src="{% static 'images/profile-new.svg' %}" 
                    width="30" height="30">
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Sign Out</a></li>
                </ul>
            </div>
        </div>

    </div>
</nav>
